<!DOCTYPE html>
<html>
<head>
  <title>JaiApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <div id="header">
      <div id="welcome">
	    <h1>MY <span>APP</span></h1>
	  </div><!--end welcome-->
      <div id="menubar">
        <ul id="menu">
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="ourwork.html">Our Work</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div><!--end menubar-->
    </div><!--end header-->
    
	<div id="site_content">	
	
	  <div id="text_content">       
        <%= yield %>
	  </div><!--close text_content-->		
	
      <ul class="slideshow">
        <li class="show"><img width="500" height="450" src="/assets/home_1.jpg" alt="&quot;Image description here&quot;" /></li>
        <li><img width="500" height="450" src="/assets/home_2.jpg" alt="&quot;Image description here&quot;" /></li>
        <li><img width="500" height="450" src="/assets/home_3.jpg" alt="&quot;Image description here&quot;" /></li>
      </ul>     
    
	</div><!--end site_content-->
  </div><!--end main-->

  <div id="footer">
    <div id="footer_container">
	  <div class="footer_container_box">
		<h4>Latest Blog Post</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		  <a href="#">Read more</a>
	  </div><!--close footer_container_box-->
      <div class="footer_container_box">
       <h4>Latest News</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		  <a href="#">Read more</a>
	  </div><!--close footer_container_box-->
      <div class="footer_container_boxl">
		<h4>Latest Projects</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		  <a href="#">Read more</a>  
	  </div><!--close footer_container_box1-->      
	  <br style="clear:both"/>
	  <br />
	  Copyright @MyApp
    </div><!--close footer_container--> 
  </div><!--close footer-->  
</body>
</html>
